body {
    margin: 10px;
    background-image: url("https://img.freepik.com/free-photo/wall-wallpaper-concrete-colored-painted-textured-concept_53876-31799.jpg?size=626&ext=jpg");
}

button {
    margin: 4px;
}

input {
    margin: 4px;
}

#highscores {
    float: left;
    box-sizing: border-box;
}

#timer {
    text-align: right;
    width: 50%;
    float: right;
    color: white;
}

.box{
    background-color: blueviolet;
}

#feedback {
    text-align: center;
}

#begintest {
    width: 50%;
    margin: auto;
    text-align: center;
}